/*Limpar formatações padrão*/
* {
    margin: 0;
    padding: 0;
} /*Zerei as formatações*/

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:#e6e6e6;
}

/*Layout*/

#area-cabecalho {
    background-color:#f7b600;
    padding: 15px;
    text-align: center;
}

#area-logo, #area-menu {
    padding: 10px;
}

#area-principal {
    background: white;
    width: 920px;
    margin: 0 auto;
}

/*Formatações do menu*/

a {
    text-decoration: none; /*TEXT-DECORATION para remover o underline*/
}

a:link, a:visited {
    color: #fff;
    padding: 8px 12px;
}

a:hover {
    color: #f7b600;
    background-color: white;
}

/*Formatações gerais*/

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

.branco {
    color: white;
}
    
