/*Limpar formatações padrão*/
* {
    margin: 0;
    padding: 0;
} /*Zerei as formatações*/

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:#e6e6e6;
}

/*Layout*/

#area-cabecalho {
    background-color:#f7b600;
    padding: 15px; 
    text-align: center;
}

#area-logo, #area-menu {
    padding: 10px;
}

#area-principal {
    background: white;
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#area-postagens, #area-lateral {
    background:orange ;
}
#area-postagens {
    width: 660px;
    float: left;
}

.postagens {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

#area-lateral {
    width: 240px;
    float: right;
}

/*Formatações do menu*/

a {
    text-decoration: none; /*TEXT-DECORATION para remover o underline de todos links da pagina*/
}

a:link, a:visited {
    color: #f7b600;
} /*Padrão para todos links*/

a:hover {
    text-decoration: underline;
} /*Padrão para todos links*/

#area-cabecalho a:link, #area-cabecalho a:visited {
    color: #fff;
    padding: 8px 12px;
} /* Combinação de ID mais seletor A, quer dizer que COLOR e PADDING só será aplicado aos links na AREA-CABECALHO*/

#area-cabecalho a:hover {
    color: #f7b600;
    background-color: white;
    text-decoration: none;
} /*Combinação de ID e mais seletor A para definir COLOR e BACKGROUND-COLOR apenas nos links da area-cabecalho */

/*Formatações gerais*/

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

.branco {
    color: white;
}

h2 {
    color: #f7b600;
}

.datadepostagem {
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

/*Rodape*/

#rodape {
    clear: both; /*Remover os elementos flutuantes*/
    text-align: center;
    background: #ccc;
    padding: 15px;

}
